.newPost{
    border: 1px solid black;
    width: 600px;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}
.newPost input{
    width: 100%;
}
.newPost textarea{
    width: 100%;
}
.btnDiv{
    text-align: center;
    padding: 10px;
}