<div class="container">
  <div class="row mainRow">
    <div class="col col-6">
      <div class="editing-form">
        <form novalidate [formGroup]="registerForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" formControlName="name" />
          </div>
          <div class="form-group">
            <label for="title">Title</label>
            <input type="text" class="form-control" formControlName="title" />
          </div>
          <div class="form-group">
            <label for="text">Text</label>
            <textarea class="form-control" formControlName="text"></textarea>
          </div>
          <div class="form-group">
            <label for="photo">Photo</label>
            <input type="text" class="form-control" formControlName="photo" />
          </div>
          <div class="buttonDiv">
            <button
              type="submit"
              class="btn btn-primary"
              [disabled]="!registerForm.valid"
            >
              Save Editings
            </button>
            <button type="button" class="btn btn-secondary" (click)="back()">
              Back
            </button>
          </div>
        </form>
      </div>
    </div>
    <div class="col col-6">
      <div class="card" *ngIf="post && selectedPostId === post._id">
        <div class="row g-0">
          <div class="col-md-6 photo">
            <img src="{{ post.photo }}" class="card-img-top" alt="..." />
          </div>
          <div class="col-md-6">
            <div class="card-body">
              <h5 class="card-title">{{ post.name }}</h5>
              <p class="card-text">
                <small class="text-body-secondary">{{ post.title }}</small>
              </p>
              <p class="card-text">{{ post.text }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
