.col{
    padding: 20px;
}
.mainRow{
    margin-top: 100px;
}
.buttonDiv{
    text-align: center;
    padding: 20px;
}
button{
    margin: 10px;
    width: 200px;
}
.photo{
    margin-top: auto;
    margin-bottom: auto;
}