<!-- <footer class="d-flex flex-wrap justify-content-between align-items-center">
  <p class="col-md-4 mb-0 text-body-secondary">
    <span> &copy; {{ year }} Company, Inc</span>
  </p>

  <a
    href="/"
    class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none"
  >
    <img src="assets/images/blogg.webp" width="80" alt="" />
  </a>

  <ul class="nav col-md-4 justify-content-end">
    <li class="ms-3">
      <a class="text-body-secondary" href="#"
        ><i class="bi bi-twitter scale"></i
      ></a>
    </li>
    <li class="ms-3">
      <a class="text-body-secondary" href="#"
        ><i class="bi bi-instagram"></i
      ></a>
    </li>
    <li class="ms-3">
      <a class="text-body-secondary" href="#"><i class="bi bi-facebook"></i></a>
    </li>
  </ul>
</footer> -->

<footer class="d-flex flex-wrap justify-content-between align-items-center">
  <div class="container text-center">
    <div class="row align-items-start">
      <div class="col col-3">
        <div class="container text-center">
          <div class="row align-items-start">
            <div class="col col-4">
              <img src="assets/images/blogg.webp" width="80" alt="" />
            </div>
            <div class="col col-8">
              <div class="dropdown">
                <a
                  class="btn btn-secondary dropdown-toggle"
                  href="#"
                  role="button"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  Choose a language
                </a>

                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Ukrainian</a></li>
                  <li><a class="dropdown-item" href="#">English</a></li>
                  <li><a class="dropdown-item" href="#">French</a></li>
                  <li><a class="dropdown-item" href="#">German</a></li>
                  <li><a class="dropdown-item" href="#">Spanish</a></li>
                  <li><a class="dropdown-item" href="#">Polish</a></li>
                  <li><a class="dropdown-item" href="#">Czech</a></li>
                  <li><a class="dropdown-item" href="#">Bulgarian</a></li>
                  <li><a class="dropdown-item" href="#">Italian</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col col-3"><app-google-map></app-google-map></div>
      <div class="col col-6">
        <div class="container text-center">
          <div class="row align-items-start">
            <div class="col col-4">
              <h5>PRODUCTS</h5>
              <p>FEATURE LIST</p>
              <p>PRICING</p>
              <p>DOMAINS</p>
              <p>WEBSITES</p>
              <p>DOMAINS</p>
              <p>ONLINE STORES</p>
            </div>
            <div class="col col-4">
              <h5>CUSTOMERS</h5>
              <p>STUDENTS</p>
              <p>ENTERPRISE</p>
              <p>WEDDINGS</p>
              <p>PHOTOGRAPHERS</p>
              <p>BLOGGERS</p>
              <p>ARTISTS</p>
              <p>RESTAURANTS</p>
            </div>
            <div class="col col-4">
              <h5>SOCIAL NETWORKS</h5>
              <div class="social">
                <a class="text-body-secondary" href="#"
                  ><i class="bi bi-facebook"></i
                ></a>
                <a class="text-body-secondary" href="#"
                  ><i class="bi bi-instagram"></i
                ></a>
                <a class="text-body-secondary" href="#"
                  ><i class="bi bi-twitter scale"></i
                ></a>
                <a class="text-body-secondary" href="#"
                  ><i class="bi bi-envelope-fill"></i>
                </a>
                <a class="text-body-secondary" href="#"
                  ><i class="bi bi-google"></i
                ></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
