footer{
    background-color: aliceblue;
    padding: 20px;
    bottom: 0;
    width: 100%;
    margin-top: 20px;
}
i{
    color: rgb(30, 72, 224);
}
i:hover{
    font-size:larger;
    color: red
}
span{
    color: rgb(30, 72, 224);
}
.social{
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.social i{
    font-size: larger;
}
p{
    line-height: 0.5;
}
