<header class="border-bottom header">
  <div class="headerDiv">
    <div class="container text-center">
      <div class="row align-items-start">
        <div class="col">
          <a
            href="/"
            class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none"
          >
            <span class="fs-4">My simple</span>
            <img src="assets/images/blogg.webp" width="80" alt="" />
          </a>
        </div>
        <div class="col">
          <ul class="nav nav-pills">
            <li class="nav-item">
              <a
                routerLinkActive="active"
                routerLink="/content-page/home"
                class="nav-link"
                aria-current="page"
                >HOME</a
              >
            </li>
            <li class="nav-item">
              <a
                routerLinkActive="active"
                routerLink="/content-page/news"
                class="nav-link"
                >NEWS</a
              >
            </li>
            <li class="nav-item">
              <a
                routerLinkActive="active"
                routerLink="/content-page/top"
                class="nav-link"
                >TOP 10</a
              >
            </li>
            <li class="nav-item">
              <a
                routerLinkActive="active"
                routerLink="/content-page/search"
                class="nav-link"
                >SEARCH <i class="bi bi-search-heart"></i
              ></a>
            </li>
            <li class="nav-item">
              <a
                routerLinkActive="active"
                routerLink="/admin-page/login"
                class="nav-link"
                >LOG IN</a
              >
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="blogDiv">
    <div class="box text-center p-5">
      <h4>Create Your Own Professional Blog</h4>
      <button type="button" class="btn btn-primary">Start Now</button>
    </div>
  </div>
</header>
